#app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: lightblue;
    min-height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    overflow-y: auto; /* Добавляем прокрутку, если карточек много */
}

.column h2 {
    text-align: center;
    color: darkblue;
    margin-bottom: 15px;
}