body{
    margin: 0;
}
#app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: lightblue;
    min-height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    overflow-y: auto; /* Добавляем прокрутку, если карточек много */
}

.column h2 {
    text-align: center;
    color: darkblue;
    margin-bottom: 15px;
}
button {
    background-color: indianred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: palevioletred;
}
button:disabled {
    background-color: slategrey;
}


.search-input {
    padding: 10px;
    border: 1px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    font-size: 14px;
    transition: border-color 0.3s;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input:focus {
    border-color: #66afe9;
    outline: none;
}